.albumViewArt {
border-radius: 0% !important;
    width: 352px !important;
    height: 331px !important;
    padding: 20px 30px;
}

.albumViewtext p {
    margin-top: 0;
    width: 350px;
    margin-bottom: 1rem;
}

.albumViewtext {
    font-size: 20px;
    font-weight: 700;
    width: 20%;
    text-align: center;
}