.album {
  width: 250px;
}
  .cover-container {
    display: relative;
    width: 200px;
    height: 200px;
    margin: 8px 50px 6px 50px;}
    .cover-image {

      width: 200px;
      height: 200px;
  
      border-radius: 10px;
      overflow: hidden; }
      .blur-background {
        opacity: .7;
        filter: blur(13px);
      }
      .albumimg {
        width: 100%;
      }
    
  
 .songName {
    margin: 14px 15px 0px 52px;
    font-size: 23px;
    line-height: 23px;
    font-weight: 650;
}
.songTitle {
    white-space: pre-wrap;
    width: 115%;
}
.artist {
    margin: 4px 52px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: #1a1a1a;
}