.bg {
    background: no-repeat fixed;
    background-size: cover;
    
}

.frosted-glass {
    &:not(.blue-app-sidebar) {
        position: relative;
    }

    overflow: hidden;
}

.frosted-glass::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    // filter: blur(18px);
    margin: -20px;
    
}

.frosted-glass .frosted-glass-content {
    position: relative;
    background: linear-gradient(
  to right,
  hsl(0, 0%, 0%) 0%,
  hsla(0, 0%, 0%, 0.964) 7.4%,
  hsla(0, 0%, 0%, 0.918) 15.3%,
  hsla(0, 0%, 0%, 0.862) 23.4%,
  hsla(0, 0%, 0%, 0.799) 31.6%,
  hsla(0, 0%, 0%, 0.73) 39.9%,
  hsla(0, 0%, 0%, 0.655) 48.2%,
  hsla(0, 0%, 0%, 0.577) 56.2%,
  hsla(0, 0%, 0%, 0.497) 64%,
  hsla(0, 0%, 0%, 0.417) 71.3%,
  hsla(0, 0%, 0%, 0.337) 78.1%,
  hsla(0, 0%, 0%, 0.259) 84.2%,
  hsla(0, 0%, 0%, 0.186) 89.6%,
  hsla(0, 0%, 0%, 0.117) 94.1%,
  hsla(0, 0%, 0%, 0.054) 97.6%,
  hsla(0, 0%, 0%, 0) 100%
);
}

.frosted-glass .frosted-glass-content::before,
.frosted-glass .frosted-glass-content::after {
    content: "";
    display: table;
}

.has-frosted-glass {
    .frosted-glass {
        box-shadow: 0 0.5em 1em rgba(0, 0, 0, .3);
    }
}
