.PlayerRSWP{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.__152vgh9 {
    height: 12px;
}

.__1jsewgh {
    min-height: 126px;
    height: 0px;
    padding: 17px;
}

.__efzm71 img {
    height: 115px;
    width: 115px;
    border-radius: 3px;
}

.__6jha4h {
    padding: 23px;
}