.title{
    display: flex;
    width: 49%;
    align-content: stretch;
    align-items: center;
    justify-content: space-evenly;
}

.titleText {
        width: 50%;
    font-weight: 700;
    font-size: 20px;
}

.listContainer {
margin-top: 35px;
}


.listItems {
width: 33.3%;
    padding: 20px;
}

.startPanels{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}